@model IEnumerable<MvcDbApplication.Data.Baraga.Member>;
@{
    ViewData["Title"] = "Members Index Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11">
            <h1>Members List</h1>
            <a asp-controller="Members" asp-action="Add">Add a Member</a>

            <table class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Member Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MvcDbApplication.Data.Baraga.Member itemObj in ViewBag.members)
                    {
                        <tr>
                            <td>@itemObj.MemberId.ToString()</td>
                            <td>@itemObj.FirstName</td>
                            <td>@itemObj.LastName</td>
                            <td>@itemObj.Street, @itemObj.City, @itemObj.Province @itemObj.PostalCode</td>
                            <td>@itemObj.Email | @itemObj.MobilePhone</td>
                            <td width="10%">
                                <a class="btn btn-primary" asp-controller="Members" asp-action="Edit"
                                asp-route-id="@itemObj.MemberId.ToString()">Edit 📝</a>
                            </td>
                            <td width="10%">
                                <a class="btn btn-danger" data-item-id="@itemObj.MemberId.ToString()" asp-controller="Members"
                                asp-action="Delete" asp-route-id="@itemObj.MemberId.ToString()">Delete ☠️</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>